body {margin:auto;
    height: auto;}
        
    }
    header {
     
    
    
    }
    h1 {
        margin-bottom: 0;
        margin-top: 0;
        width: 275px;
        padding: 12px;
        margin-left: 100px;
        background-color:#4aaaa5;
        color: yellow;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        }
    #contentbox {
        margin-left: 100px;
        position: absolute;
        float: left;
        width: 1000px;
        height: 277px;
        color: black;
        float: left;
    
    p {
    font-family:"times new roman";
    margin-left: 20px;
    }
    }
    .box {
        width: 100%;
        
       
    
    }
    .container {
        background-image:url(./assets/images/triangle-mosaic.png);
        position: absolute;
        width: 1600px;
        height: 700px;
        background-color:blue;
    } 
    
    #main-bio {border-right:#cccccc;
        font-size: 30px;
        margin-left:0;
        margin-bottom:0;
        margin-top: 35px;
        background-color:;
        padding: 10px;
        width: 980px;
        background-color: white;
        position: relative;
    }
    #bio-image {
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 20px;
        float: left;
    }
    footer {
    height: 100px;
    margin-top:700px;
    position: absolute; float: left;width: 1500px;width: 1500px;background-color: #666666;
    padding: 30p;margin: auto0;background-color:#4aaaa5;color: white;
    font-family: 'Georgia', Times, 'Times New Roman', 
    serif;
    border-top: solid red;width: 1600px;}
    
    #paragraph {
        height:395px;font-size: 24px;background-color:white;width:1000px;position: float:right;margin-right:450px;margin-top:auto;margin-bottom:}