body {margin:auto;
    border-style left:ridge;border-style right :ridge; border style bottom: ridge;
    background-image:url(./assets/images/so-white.png);
    position: absolute;
    width: 1600px;
    height: 400px;}
        
#about,#portfolio,#contact{background-color:white;margin-top: 30px;font-size:20px;margin-left:10px;color:gray;text-decoration: none;}
    
#links {padding-top: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
    Border: solid #dddddd;
    height: 31px;}

    h5{
        margin-left: 100px;
        color:#4aaaa5;
        margin-top: 0px;
        background-color: white;
        padding-top: 35px;
        margin-bottom:0;
        width:864px;
        font-size:25px;
        padding-left:48px;
        padding-bottom:18px;
        border-left:solid #dddddd;
        border-top:solid #dddddd;
        border-right:solid #dddddd;
        padding-right: 48px;
        }

        #name {margin-top: 33px;padding: 10px;color: white;margin-bottom: 10;font-size: 40px;margin-right: 500px;margin-left: 100px;float: left;background-color: #4aaaa5;}
    
    h1{padding-top:35px;padding-left:35px;height:75px;
        margin-bottom: 0;
        margin-top: 0;
        width: 275px;
        margin-left: 100px;
        background-color:#4aaaa5;
        color: white;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        }
        .container {margin-top:0;
            margin-left: 100px;
            width: 965px;
            height: 800px;
            background-color:white;
            }
    
            #main-bio {
                width: 1197px;
            }
           #pic1 {padding-right:44px;float:left;margin-right:0;margin-left:100px;background-color:white;padding-left: 45px;width:250px;height:250px;border-left:solid #dddddd }
           #pic2 {float:left; margin-left:0;background-color: white;padding-right: 371px;width:250px;height:250px;border-right:solid #dddddd}
           #pic3 {float:left;margin-top:65px;padding-right:44px;width:250px; height:250px;margin-left:100px;padding-left:45px;background-color:white;margin-top:0;padding-top:55px;border-left:solid #dddddd;padding-bottom:120px;border-bottom:solid #dddddd}
           #pic4 {float:left;width:250px; height:250px;padding-right:371px;background-color:white;padding-top:55px;border-right:solid #dddddd;padding-bottom:120px;border-bottom:solid #dddddd}



   
    #copyright {margin-bottom:0;}
        
    h6{height:65px;border-top:solid #4aaaa5; color:white;font-size:18px; margin-bottom:0;background-color:gray;margin-top:800px;padding-top:15px;padding-bottom:15px; text-align:center;}